.article
  @extend .content
  padding 50px 0 10px 0
  border-bottom-style solid
  border-bottom-width 1.25px
  border-bottom-color lightgrey

.article_head
  color: color
  font-weight normal
  font-size 1.7em

.article_text
  raquo()
  font-size 0.95em
  font-weight lighter

.article_footer
  margin-top 30px
  color grey
  font-size 0.95em

.left
  float left

.right
  float right