@import url(https://fonts.googleapis.com/css?family=Josefin\+Slab)
@import url(https://fonts.googleapis.com/css?family=Lato)
@import url(https://fonts.googleapis.com/css?family=Montserrat)
@import url(https://fonts.googleapis.com/css?family=Permanent\+Marker) // maybe header
@import url(https://fonts.googleapis.com/css?family=Delius)

color = #0A5200


*
  padding 0
  margin 0


body
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family 'Montserrat', sans-serif


h1
  font-size 2em
  margin-bottom 10px

a
  color: grey
  margin-right 7px

.content
  margin 0 auto
  max-width 900px





