footer
  @extend .content
  padding 50px 0 100px 0

.button
  background none
  float right
  -webkit-border-radius 6;
  -moz-border-radius 6;
  border-radius 6px;
  color color;
  font-size 20px;
  padding 7px 20px 7px 20px;
  border solid color 1px;
  cursor pointer
  hover-glow(#97BF90, 10px)
