@import url(https://fonts.googleapis.com/css?family=Open\+Sans);




body
  padding 50px
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family 'Open Sans', sans-serif

h1
  font-size 2em

a
  color #00B7FF

.article
  max-width 900px
  margin auto
  padding-bottom 70px
  border-bottom-style solid
  border-bottom-width 1.25px
  border-bottom-color lightgrey

.left
  float left

.right
  float right


time
  color grey