extends layout



block content
    each article in articles
        div(class= 'article')
            h1= article.head
            p= article.text

            div(class='test')
                div(class='left')
                    | in categories C++, Java, JavaScript
                div(class='right')
                    time 9 January 2016
            div(style='clear:both')

        //a(href='www.something.com')
            img(src='images/test.png')

