footer
  @extend .content
  padding 50px 0 70px 0
  text-align center
  color grey


#page
  height 40px
  line-height: 45px;

button_width = 120px

.button_box
  width button_width
  height 35px

#button_box_left
  @extend .button_box
  float left

#button_box_right
  @extend .button_box
  float right

.button
  background none
  width button_width
  -webkit-border-radius 6;
  -moz-border-radius 6;
  border-radius 6px;
  font-size 20px;
  padding 7px 20px 7px 20px;
  cursor pointer
  color grey
  border solid grey 1px;
  //hover-glow(#97BF90, 10px)
  //click-shrink()
  //hover-color: color
  //hover-color: white true

button:hover
  color color;
  border-color color;

button:focus
  outline 0
