doctype html
html(lang="en")
    head
        meta(name='description' content='BibSBN - ISBN to BibTeX converter')
        meta(name='google-site-verification' content='...')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        title BibSBN
        link(rel='stylesheet', href='/style/bibsbn/main.css')
        script(src='/js/lib/require.js' data-main='/js/main' defer)
    body
        header
            div(id='title_container')
                p(id='title') BibSBN
                p(id='subtitle') ISBN to BibTeX converter

        div(id='main_container')
            div(id='main')
                h1
                div(id='input_container')
                    input(id='isbn_text'  type='text' size=23 maxlength=17 autofocus class='text_incorrect')
                    div(class='input_spacer')
                    button(id='isbn_button' form='isbn_text' class='button_disabled' disabled) Search
                div
                    textarea(id='bibtex_text' rows=15 cols= 75 wrap='hard')
                div(id='status_container')
                    div(id='status_google' class='status') Google Books
                    div(class='status_spacer')
                    div(id='status_open_library' class='status') Open Library
                    div(class='status_spacer')
                    div(id='status_worldcat' class='status')  WorldCat

        footer &copy; 2016 Florian Gauger
        //value='362517157'




